#review-form {
    margin-top: 120px;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
    width: 60%;
    min-width: 400px;
    align-items: left;
    border: 1px darkgray solid;

}

#review-form>input,
select {
    width: 200px;
}

#review-form>textarea {
    height: 200px;
    width: 400px;

}

#submit-review {
    color: #48C2F9;
    font-weight: bolder;
    background: #00000000;
    width: 100px;
    height: 40px;
    top: 10px
}
