#place-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#place-view * {
    width: 400px;
    font-family: sans-serif;

}

#place-view img {
    height: 400px;
}
