#place-view {
    margin-top: 75px
}





#place-box {
    display: flex;
    width: 100%;
    margin-left: 20px;
}

#place-box>span {
    width: 100%;
}

#place-image {
    /* margin-top: 75px; */
    width: 50%;
    height: 425px;
    object-fit: cover;
}

#place-details {
    color: #48C2F9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    width: 550px;
    position: relative;
    bottom: 200px;
    left: 40px;
}


#place-type,
#place-address {
    color: #48C2F9;
    padding: 0;
    margin: 0;
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
    height: 80px;


}

#place-name {
    font-size: 25px;
    color: white;
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;

}

#edit-place,
#delete-place {
    position: relative;
    color: #48C2F9;
    font-weight: bolder;
    background: #00000000;
    width: 75px;
    bottom: 55px;
    cursor: hand;
}

#reviews-span button {
    position: relative;
    color: #48C2F9;
    font-weight: bolder;
    background: #00000000;
    width: 150px;

}
