.locationSearch {
    border-radius: 20px;
    height: 40px;
    width: 45%;
    border: none;
    text-align: center;
}

.results-container-wrapper {
    display: flex;
    width: 70%;
    position: absolute;
    justify-content: center;
    ;
}

.results-container {
    background-color: white;
    z-index: 2;
    /* position: relative; */
    /* top: 60px; */
    width: 40%;
    /* max-width: 450px; */
}

.individual-result {
    padding: 10px;
    border-bottom: 1px solid white;
    background-color: whitesmoke;
    text-shadow: none;
}
