form>input {
    width: 200px;
}

#place-form-box {
    display: flex;
    justify-content: center;
}

#place-form {
    background-color: whitesmoke;
    border: 1px darkgray solid;
    margin-left: 30px;
    margin-top: 75px;
    height: 400px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#place-form select {
    width: 200px;
}

#place-form button {

    color: #48C2F9;
    font-weight: bolder;
    background: #00000000;
    width: 100px;

}
