/* TODO Add site wide styles */
/*  {
 background-color: rgb(125, 116, 141);
    background-color: white;
} 
*/
/* 
#places-view {
    background-color: rgb(143, 53, 53);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.place-list {
    border: 1px red solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    height: 60%;
}

.place-card {
    border: 1px red solid;
    width: 20%;
} */
